body{
    font-family: calibri;
}
ul.botonera{
    margin: 1;
    padding: 0;
    list-style-type: none;
}
ul.botonera li {
    display: inline;
}
ul.botonera li a {
    width: 230px;
    height: 60px;
    background-color: #F3F781;
    margin-bottom: 10px;
    display:inline-block; 
    color: #ff4000;
    border: 1px #FFBF00 solid; 
    text-align: center;
    text-decoration: none;
    line-height: 60px;
}
ul.botonera li a:hover {
    background-color: #F5DA81;
}
ul.botonera2{
    margin: 1;
    padding: 0;
    list-style-type: none;
}
ul.botonera2 li {
    display: block;
}
ul.botonera2 li a {
    width: 250px;
    height: 50px;
    background-color: #F5A9E1;
    margin-bottom: 10px;
    display: block;
    color: #6A0888;
    border: 1.5px #BF00FF solid;
    text-align: right;
    text-decoration: none;
    line-height: 50px;
}
ul.botonera2 li a:hover {
    background-color: #FE2E9A;
}