body{
    background-image: url(imagenes/fondom.png); 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;   
}
#sitio {
    background-color: beige;
    width: 768px;
    height: 1024px;
    margin-left: auto;
    margin-right: auto;
}
header {
    background-image: url(imagenes/IMG-20230117-WA0008.jpg);
    width: 768px;
    height: 150px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
article {
    background-image: url(imagenes/principal.png);
    width: 768px;
    height: 774px;
    text-align: center;
}
footer {
    background-image: url(imagenes/footer.webp);
    width: 768px;
    height: 100px;
    text-align: center;
}
.navegacion{
width: 500px;
height: 40px;
float: right;
text-align: right;
}
ul.menu{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
ul.menu li{
display: inline;  
}
ul.menu li a{
width: 80px;
height: 60px;
background-color: #E8BFEE;
margin-bottom: 0px;
display: inline-block;
color: salmon;
border: 1px white solid;
text-align: center;
text-decoration: none;
line-height: 60px;
}
ul.botonera{
margin: 0px;
padding: 0px;
list-style-type: none;
}
ul.botonera li{
    display: inline;
}
ul.botonera li a{
    width: 150px;
    height: 90px;
    background-color:#E6A871 ;
    margin-bottom: 250px;
    display: inline-block;
    color: #975FC2;
    border: 1px black solid;
    text-align: center;
    text-decoration: none;
    line-height: 90px;
}