body{
    background-image: url(fondom.png); 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;   
}
#sitio {
    background-color: beige;
    width: 768px;
    height: 1024px;
    margin-left: auto;
    margin-right: auto;
}
header {
    background-image: url(IMG-20230117-WA0008.jpg);
    width: 768px;
    height: 150px;
    text-align: center;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    box-shadow: inset 5px 7px 5px #E8BFEE;
}
#logo{
    height: 75px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    float: none;
}
article {
    background-image: url(principal.png);
    width: 768px;
    height: 774px;
    text-align: center;
}
footer {
    background-image: url(footer.webp);
    width: 768px;
    height: 100px;
    text-align: center;
    font-family: 'Noto Serif', serif;
}
.navegacion{
    width: 500px;
    height: 40px;
    float: right;
    text-align: right;
}
ul.menu{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
ul.menu li{
    display: inline;  
}
ul.menu li a{
    width: 80px;
    height: 60px;
    background-color: #E8BFEE;
    margin-bottom: 0px;
    display: inline-block;
    color: salmon;
    border: 1px white solid;
    text-align: center;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    line-height: 60px;
}
ul.botonera{
margin: 0px;
padding: 0px;
list-style-type: none;
}
ul.botonera li{
    display: inline;
}
ul.botonera li a{
    width: 150px;
    height: 90px;
    background-color:#E6A871 ;
    margin-bottom: 250px;
    display: inline-block;
    color: #975FC2;
    border: 2px black solid;
    text-align: center;
    text-decoration: none;
    line-height: 90px;
}
p {
    font-family: 'Solitreo', cursive;
}
h1 {
    font-family: 'Playfair Display', serif;

}

@media handheld, screen and (min-width: 600px) and (max-width: 1023px) {

    #sitio {
        width: auto;
        height: auto;
    }
    header {
        width: auto;
    }
    #logo{
        height: 75px;
        margin-left: auto;
        margin-right: auto;
        float: none;
    }
    article {
        width: auto;
        height: 774px;
    }
    footer {
        width: auto;
        height: 100px;
    }
    .navegacion{
        width: 450px;
        height: 40px;
    }
    ul.menu li a{
        width: 80px;
        height: 60px;
    }
    ul.botonera li a{
        width: 150px;
        height: 90px;
    }
}

@media handheld, screen and (max-width: 599px) {

    #sitio {
        width: auto;
        height: auto;
    }
    header {
        width: auto;
    }
    #logo{
        float: none;
        margin-left: 0px;
        margin-right: auto;
        width: auto;
    }
    article {
        width: auto;
        height: auto; 
    }
    footer {
        width: auto;
        height: auto;
    }
    .navegacion{
        width: 500px;
        height: 40px;
        float: right;
    }
    ul.menu li a{
        width: 75px;
        height: 60px;
    }
    ul.botonera li a{
        width: 85px;
        height: 85px;
        
    }
}