body{
    background-image: url(avionventa.jpg);
    font-family: 'Times New Roman', Times, serif;
}
li{
    background-color: coral;
    width: 50px;
    height: 20px;
    color: black;
    text-decoration: none;
    text-align: center;
    border: 1px white solid;
}
ul{
    
    list-style-type: none;
}
h1{
    color: white;
}
p{
    color: white;
}